#root {
    margin: 0;
    text-align: center;
    width: 100%;
}

.App{
  height:100%;
  width:100%;
}

.home-page{
  display: flex;
  flex-direction: column;
  height:100%;
  justify-content: center;
}

.logo {
    padding: 1.5em;
    will-change: filter;
    transition: filter 300ms;
    max-height: 200px;
}
.logo:hover {
    filter: drop-shadow(0 0 2em #63e9ea);
}

.card-container {
    padding: 2em;
}

.small-rounded-btn {
    background-color: #f9f9f9;
    color: #000;
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    margin: 0.5em;
}

.input-field{
  /* no bottom radius */
  border-radius: .375rem .375rem 0 0 !important
}

.output-field{
  /* no top radius */
  border-radius: 0 0!important
}

.test-weight{
  /* no top radius */
  border-radius: 0 0 .375rem .375rem !important
}

.bottom-gap{
  margin-bottom: 2.5rem;
}

.guidelines{
  padding-top: 1rem;
  font-size: 0.6rem;
  color: #999;
  /* text align right */
  text-align: right;
}

.push-up{
  margin-top: -0.35rem !important;
}

.spinner {
  padding-right: 0.5rem;
}


.Dashboard{
  
}

.Navbar{
  margin: 0;
  margin-bottom: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 2rem;
  background-color: #fff;
  box-shadow: 0 0 0.5rem rgba(0,0,0,0.1);
  width: 100%;
}

.navbar{
  width: 100%;
}

.header-row{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0 2rem;
}

.header-row .badge-container2{
  margin: 0 1rem;
  width: 300px;
}

.card-container2{
  padding: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.card-size{
  width: 20%;
  flex-wrap: wrap;

}

.card-title{
  font-size: 2rem !important;
  font-weight: 600;
  color: #000;
}

.chart-container{
  margin: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.chart-flex{
  width: 48%;
  flex-wrap: wrap;
  padding-right: 3rem;
  
}

.list-container{
  margin: 2rem;
  /* width: 75%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center; */
}

.badge-container{
  margin: 0 1rem;
  width: 100px;
}

/* Add responsive card size */
@media screen and (max-width: 768px) {
  .card-size{
    width: 100%;
    margin: 1rem 0;
  }

  .card-container2{
    flex-direction: column;
  }

  .chart-flex{
    width: 100%;
    margin: 1rem 0;
  }

  .chart-container{
    flex-direction: column;
  }

  .list-container{
    margin: 1rem;
  }



}

